<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Netra Project</vendor>
  <vendor_url>https://github.com/netra/netra</vendor_url>

  <action id="org.netra.network.configure">
    <description>Configure network interfaces and Wi-Fi</description>
    <message>Authentication is required to modify network connections</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.netra.hotspot.manage">
    <description>Manage Netra Wi-Fi Hotspot</description>
    <message>Authentication is required to start or stop the Wi-Fi hotspot</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.netra.hotspot.qos">
    <description>Apply bandwidth shaping rules</description>
    <message>Authentication is required to modify network traffic control policies</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
